body {
    font-family: sans-serif;
    margin: 0;
    color: white;
}


#navicon {
    border: none;
    padding: 20px 40px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    align-self: flex-end;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 25%;
}

/* ---------------- Style the navigation bar --------------*/

nav {
    text-align: right;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    top:0;
    padding-top: 15px;
    transition: background-color 0.4s ease-out;
}

nav.scroll {
    background-color: white;
    color: black;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 20px;
}

nav.scroll .logo {
    content:url("img/logo2.png");
}

nav.scroll a {
    font-size: 16px;
    color: black;
}


nav a {
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: white;
    padding: 20px 25px;
}

nav a:hover {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.03);
}

nav a.active {
    font-weight: bold;
}

/* ---------------- Style the main container --------------*/


#headerproj {
    height: 320px;
    background-image: url("img/img3.jpg");
    background-color: #1a1a1a;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


#conteneur-body {
    display: flex;
    height: auto;
}

#bloc-gris {
    background-color: #333333;
    width: 350px;
    flex-direction: column;
    padding-left: 3%;
    padding-top: 30px;
}

#bloc-blanc {
    background-color: #f2f2f2;
    width: 100%;
    padding-bottom: 150px;
}

.project {
    margin-left: 5%;
    margin-top: 45px;
}

.fiona {
    height: 320px;
    width: 80%;
    background-image: url("img/img4.jpg");
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-pro {
    color: #333333;
    font-family: 'Lora', sans-serif;
    font-weight: 400i;
    font-size: 2em;

}

.sidetitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
}

.checkbox-txt {
    font-family: 'Fira Sans', sans-serif;
    display: inline;
    color: #b3b3b3;
    font-weight: 300;
}

input {
    margin-bottom: 12px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
}

#conteneur {
    height: 722px;
    background-image: url("img/fond.png");
    background-color: #142035;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.cobutt {
    margin: 50px 0px 20px 0px;
    text-align: center;
}


h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3.5em;
}

h2 {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}


.header-title {
    margin-top: 150px;
    font-size: 3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}

.title-vid {
    padding-top: 30px;
    padding-left: 25px;
    font-size: 2.3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}



.titre-deux {
    color: #505050;
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.maintitle {
    margin-top: 250px;
    margin-bottom: 10px;
}

.secondtitle {
    margin-top: 8px;
    text-align: center;
    padding: 0 40px;
    font-size: 1.1em;
}

.already {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
    color: white;
    margin: 0 auto;
    margin-top: -15px;
} 

.already:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sign {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 800px;
    max-width: 100%;
    height:auto;
    background-color: #1D2ECC;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.sign2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 80%;
    max-width: 100%;
    height:auto;
    background-color: #1D2ECC;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.t1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 2em;
    padding: 0 25px;
    margin-bottom: 0px;
}

.t1s {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 2em;
    padding: 0 25px;
    margin-bottom: 0px;
}

.t2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding: 0 25px;
}

.profil {
    margin-right: 10%;
}

.titre-simple {
    color: rgb(20,35,150);
    margin-bottom: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1.7em;
}

#inputstyle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 330px;
    max-width: 82%;
    height: 30px;
    margin: 5px 0 5px 0;
}

::placeholder { 
    color: #bfbfbf;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    opacity: 1; 
}

#blocco {
    height: 380px;
    width: 800px;
    max-width: 85%;
    padding-left: 35px;
    margin-top: 150px;
    padding-top: 20px;
    background-color: #F5F5F5;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.quote-oukris {
    width: 300px;
    padding: 28px 30px 35px 35px;
    margin-top: 100px;
    max-width: 80%;
    background-color: #1D2ECC;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}


/* ----------------- Style du bloc photo 'talent"   -------------------*/

#bloctalent {
    height: 800px;
    margin-bottom: 15%;
    background-image: url("img/img2.jpg");
    background-color: #142035;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#elodie {
    margin-top: 400px;
    margin-right: 40%;
    height: 265px;
    width: 400px;
    max-width: 100%;
    background-color: black;
}

#blocteam {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imgbob {
    width: 800px;
    max-width: 100%;
    height: 600px;
    margin-left: 10%;
    background-image: url("img/img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#equipe {
    height: auto;
    width: 400px;
    max-width: 100%;
    background-color: black;
    padding: 15px 25px 35px 25px;
}

/* ----------------- Style des différents boutons  -------------------*/

.btn1 {
    text-decoration: none;
    border: 0px solid white;
    display: block;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    color: grey;
    background-color: white;
    border-radius: 60px;
    padding: 15px 40px;
    margin-bottom: 15px; 
    cursor: pointer;
}

.btn1:active {
    background-color: #F0F0F0;
    color: #505050;
}


.btn2 {
    text-decoration: none;
    border: 0px solid white;
    display: block;
    white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    color: white;
    background-color: #1D2ECC;
    border-radius: 60px;
    padding: 15px 60px;
    margin-left: 20px;
    cursor: pointer;
}

.btn2:active {
    background-color: #171B9F;
}


.btn3 {
    text-decoration: none;
    border: 0px solid white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #1D2ECC;
    background-color: white;
    border-radius: 60px;
    padding: 15px 60px;
    cursor: pointer;
}

.btn3:active {
    background-color: #cfd4f8;
}

.btn4 {
    text-decoration: none;
    border: 0px solid white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color: #1D2ECC;
    border-radius: 60px;
    padding: 15px 60px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
}

.btn4:active {
    background-color: #171B9F;
}
/* ----- Enlève la bordure moche autour des buttons et liens cliquables ----- */

*:focus {
    outline: none;
}

/* ----- Footer ----- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: lighter;
    color: #A9A9A9;
    width: 100%;
    height: 200px;
    background-color: black;
}

/* -----------------Style the CSS according to responsive web design -----------*/

@media screen and (max-width: 500px) {

.maintitle {
    margin-top: 150px;
    font-size: 2.5em;}

footer {
    height: 350px;}

#blocco {
    margin-top: 50px;}

}




@media screen and (max-width: 680px) {
    #navbar {
        display: none;}

    .maintitle {
        margin-top: 100px;}

    #elodie {
        margin-right: 0;
        height: auto;
        padding-bottom: 25px;}


    .imgbob {
        margin: 0;
        height: 320px;}

    .t1s {
        padding-right: 90px;}

    #blocteam {
        margin-top: 15%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;}

    .btn2 {
    margin-left: 1%;}

    .cobutt {
    margin: 50px 0px 20px 0px;}

    #blocco {
    margin-top: 50px;}

    #bloc-gris {
    display: none;
    }

    .fiona {
    width: 95%;
    }

    .sign2 {
    width: 95%;
    }

    .header-title {
    margin-top: 80px;
    font-size: 2em;
    text-align: center;
    }
}


@media screen and (min-width: 681px) {

    #navicon {
        display: none;}
}