body {
    font-family: sans-serif;
    margin: 0;
    color: white;
}


#navicon {
    border: none;
    padding: 20px 40px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    align-self: flex-end;
}

.logo {
    width: 100px;
    height: auto;
    padding-right: 25%;
}


/* ---------------- Style the navigation bar --------------*/

#navbar a:last-child {
    margin-right: 10%;
}

nav {
    text-align: right;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color 0.4s ease-out;
}

nav.scroll {
    background-color: white;
    color: black;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 20px;
}

nav.scroll .logo {
    content:url("img/logo2.png");
}

nav.scroll a {
    font-size: 16px;
    color: black;
}


nav a {
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: white;
    padding: 20px 2%;
}

nav a:hover {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.03);
}

nav a.active {
    font-weight: bold;
}


/* ------------------- BREADCRUMB -------------------- */


/* Style the list */
ul.breadcrumb {
    margin-left: 12%;
    padding: 10px 16px;
    list-style: none;
}

/* Display list items side by side */

.breadcrumb {
    margin-top: 120px; 
}

ul.breadcrumb li {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    display: inline;
    font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    font-weight: 600;
}


/* ---------------- Style the main container --------------*/

.imgprofil {
    height: 320px;
    background-image: url("img/img5.jpg");
    background-color: #1a1a1a;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}


#headerprofil {
    height: 720px;
    background-image: url("img/img5.jpg");
    background-color: #1a1a1a;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blocpic {
    width: 800px;
    margin: 0 auto;
    padding: 3% 10%;
    background-color: #f2f2f2;
    max-width:80%;
    height: auto;
}

.test {
    display: inline;
    color: #333333;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    padding: 0 auto;

}

.profilpic {
    display: inline;
    border-radius: 100%;
    width: 100px;
    background-color: #f2f2f2;
    max-width:80%;
    height: auto;
}


#headerproj {
    height: 320px;
    background-image: url("img/img3.jpg");
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#headertal {
    height: 320px;
    background-image: url("img/img9.jpg");
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#conteneur-body {
    display: flex;
    height: auto;
}

#bloc-gris {
    background-color: #333333;
    width: 350px;
    flex-direction: column;
    padding-left: 3%;
    padding-top: 30px;
}

#bloc-blanc {
    background-color: #f2f2f2;
    width: 100%;
    padding-bottom: 150px;
}

.project {
    margin-left: 5%;
    margin-top: 45px;
}

.fiona {
    height: 320px;
    width: 80%;
    background-image: url("img/img4.jpg");
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.malika {
    height: 320px;
    width: 80%;
    background-image: url("img/img8.png");
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.brasier {
    height: 320px;
    width: 50%;
    background-image: url("img/img6.jpg");
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-pro {
    color: #333333;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 2em;

}

.sidetitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
}

.checkbox-txt {
    font-family: 'Fira Sans', sans-serif;
    display: inline;
    color: #b3b3b3;
    font-weight: 300;
}

input {
    margin-bottom: 12px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
}

#conteneur {
    height: 722px;
    background-image: url("img/fond.png");
    background-color: #142035;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.cobutt {
    margin: 50px 0px 20px 0px;
    text-align: center;
}


h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3.5em;
}

h2 {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}


.header-title {
    margin-top: 150px;
    font-size: 3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}

.title-vid {
    padding-top: 30px;
    padding-left: 25px;
    font-size: 2.3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}



.titre-deux {
    color: #505050;
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.maintitle {
    margin-top: 250px;
    margin-bottom: 10px;
}

.secondtitle {
    margin-top: 8px;
    text-align: center;
    padding: 0 40px;
    font-size: 1.1em;
}

.already {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
    color: white;
    margin: 0 auto;
    margin-top: -15px;
} 

.already:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sign {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 800px;
    max-width: 100%;
    height:auto;
    background-color: #1D2ECC;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.sign2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 80%;
    max-width: 100%;
    height:auto;
    background-color: #1D2ECC;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.t1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 2em;
    padding: 0 25px;
    margin-bottom: 0px;
}

.t1s {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 2em;
    padding: 0 25px;
    margin-bottom: 0px;
}

.t2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding: 0 25px;
}


.titre-simple {
    color: rgb(20,35,150);
    margin-bottom: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1.7em;
}

#inputstyle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 330px;
    max-width: 82%;
    height: 30px;
    margin: 5px 0 5px 0;
}

::placeholder { 
    color: #bfbfbf;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    opacity: 1; 
}

#blocco {
    height: 380px;
    width: 800px;
    max-width: 85%;
    padding-left: 35px;
    margin-top: 150px;
    padding-top: 20px;
    background-color: #F5F5F5;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.quote-oukris {
    width: 300px;
    padding: 28px 30px 35px 35px;
    margin-top: 100px;
    max-width: 80%;
    background-color: #1D2ECC;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}


/* ----------------- Style du bloc photo 'talent"   -------------------*/

#bloctalent {
    height: 800px;
    margin-bottom: 15%;
    background-image: url("img/img2.jpg");
    background-color: #142035;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#elodie {
    margin-top: 400px;
    margin-right: 40%;
    height: 265px;
    width: 400px;
    max-width: 100%;
    background-color: black;
}

#blocteam {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imgbob {
    width: 800px;
    max-width: 100%;
    height: 600px;
    margin-left: 10%;
    background-image: url("img/img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#equipe {
    height: auto;
    width: 400px;
    max-width: 100%;
    background-color: black;
    padding: 15px 25px 35px 25px;
}

.talents {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
}

.talent--cat { 
    width: 220px;
    height: 280px;
    margin: 20px 12px;
    background-color: #a6a6a6;
    text-align: center;
}

/* ----------------- Style des différents boutons  -------------------*/

.btn1 {
    text-decoration: none;
    border: 0px solid white;
    display: block;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    color: grey;
    background-color: white;
    border-radius: 60px;
    padding: 15px 40px;
    margin-bottom: 15px; 
    cursor: pointer;
}

.btn1:active {
    background-color: #F0F0F0;
    color: #505050;
}


.btn2 {
    text-decoration: none;
    border: 0px solid white;
    display: block;
    white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    color: white;
    background-color: #1D2ECC;
    border-radius: 60px;
    padding: 15px 60px;
    margin-left: 20px;
    cursor: pointer;
}

.btn2:active {
    background-color: #171B9F;
}


.btn3 {
    text-decoration: none;
    border: 0px solid white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #1D2ECC;
    background-color: white;
    border-radius: 60px;
    padding: 15px 60px;
    cursor: pointer;
}

.btn3:active {
    background-color: #cfd4f8;
}

.btn4 {
    text-decoration: none;
    border: 0px solid white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color: #1D2ECC;
    border-radius: 60px;
    padding: 15px 60px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
}

.btn4:active {
    background-color: #171B9F;
}

/* ----- Enlève la bordure moche autour des buttons et liens cliquables ----- */

*:focus {
    outline: none;
}

/* ----- Footer ----- */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Fira Sans', sans-serif;
    font-weight: lighter;
    color: #A9A9A9;
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: black;
}

.uno-footer {
    margin-right: 20%;
    width: 40%;
    max-width: 460px;
    /*background-color: #1a1a1a;*/
}

.duo-footer {
    /*background-color: #1a1a1a;*/
    width: 40%;
    max-width: 460px;
    text-align: right;
}

.trio-footer {
    text-align: center;
    flex-wrap: inherit;
    width: 300px;
    /*background-color: #1a1a1a;*/
}

.list-footer li {
    list-style: none;
    padding-bottom: 20px;
}

#inputmail {
    font-family: 'Fira Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 5px 10px;
    width: 230px;
    max-width: 80%;
    height: 20px;
    border: 1px solid #666666;
    transition: border 0.4s;
}

#inputmail:focus {
    border: 1px solid white;
}

.GO {
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 5px 25px;
    background-color: #1D2ECC;
}

.GO:active {
    background-color: #171B9F;
}

/* -----------------Style the CSS according to responsive web design -----------*/

@media screen and (max-width: 500px) {

.maintitle {
    margin-top: 150px;
    font-size: 2.5em;}

footer {
    height: 350px;}

#blocco {
    margin-top: 50px;}

}




@media screen and (max-width: 680px) {

    #navbar {
        display: none;}

    .maintitle {
        margin-top: 100px;}

    #elodie {
        margin-right: 0;
        height: auto;
        padding-bottom: 25px;}


    .imgbob {
        margin: 0;
        height: 320px;}

    .t1s {
        padding-right: 90px;}

    #blocteam {
        margin-top: 15%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;}

    .btn2 {
    margin-left: 1%;}

    .cobutt {
    margin: 50px 0px 20px 0px;}

    #blocco {
    margin-top: 50px;}

    #bloc-gris {
    display: none;
    }

    .fiona {
    width: 95%;
    }

    .sign2 {
    width: 95%;
    }

    .header-title {
    margin-top: 80px;
    font-size: 2em;
    text-align: center;
    }
}


@media screen and (max-width: 395px) {
.sign2 {margin-top: 150px;}
}

@media screen and (max-width: 340px) {
.sign2 {margin-top: 200px;}
}

@media screen and (min-width: 681px) {
#navicon {display: none;}
}


@media screen and (max-width: 981px) {
.logo {
    padding-right: 6%;
}

#navbar a:last-child {
    margin-right: 5%;
}
}

@media screen and (max-width: 780px) {
.logo {
    padding-right: 2%;
}
}

@media screen and (min-width: 982px) and (max-width: 1200px) {
.logo {
    padding-right: 15%;
}
}

@media screen and (min-width: 1200px) {
.logo {
    padding-right: 20%;
}
}


